extends ../layouts/base

block content

    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-white Housing.com

        h2.text-center.text-2xl.text-white=title

        .mt-8.mx-auto.max-w-md
            .bg-white.pb-8.pt-4.px-4.shadow-2xl
                form.space-y-4
                    input(type="hidden" name="_csrf" value= csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Email" type="text" name="email")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Contraseña
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Contraseña" type="password" name="password")

                    input(class="py-2 w-full text-white bg-blue-600 font-bold hover:bg-blue-700 hover:cursor-pointer" type="submit" value="Iniciar sesión")

                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/registrar" class="hover:text-gray-900") ¿No tienes cuenta? Registrate
                        a.text-gray-500.text-xs(href="/auth/restore" class="hover:text-gray-900") Olvide mi contraseña

