extends ../layouts/base

block content

    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Housing.com

        h2.text-center.text-2xl=title

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow-2xl
                form.space-y-4
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="nombre") Nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nombre" type="text" name="nombre")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Email" type="text" name="email")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Contraseña
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Contraseña" type="password" name="password")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password_repeat") Repetir Contraseña
                        input#password_repeat.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Repetir Contraseña" type="password" name="password_repeat")

                    input(class="py-2 w-full text-white bg-blue-600 font-bold hover:bg-blue-700 hover:cursor-pointer" type="submit" value="Registrarse")

                    div.flex.items-center.justify-center
                        a.text-gray-500.text-xs(href="/auth/login") ¿Ya estas registrado? Inicia Sesión
