header.p-6.bg-blue-900
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Housing
            span.font-normal .com

        nav(class="space-x-4 my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(href="") Mis propiedades
            a(href="") Mi perfil
            a(href="" class="bg-yellow-400 py-2 px-10 rounded-lg text-black") Cerrar sesión